@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loading bar animation */
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes grow-overflow {
  from {
    width: 0;
  }
  to {
    width: 115%;
  }
}

/* Hide scrollbar for all browsers */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Hide scrollbar for all elements, but keep scroll functionality */
* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important; /* Chrome, Safari, Opera */
}

.yellow-rect {
  position: absolute;
  top: calc(50% + 160px);   /* 50% + half video height */
  right: calc(50% - 240px); /* 50% - half video width */
  bottom: 0;
  left: 0;
  background: yellow;
  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
  border: 2px solid orange;
}
